                                #icons img {
                                    max-width: 30px;
                                    max-height: 30px;
                                }
                                
                                p {
                                    padding: 0px 10px;
                                }
                                
                                .block {
                                    border-radius: 5px;
                                    box-shadow: 0 3px 5px 5px grey;
                                }
                                
                                .pull-right p:before {
                                    content: open-quote;
                                    font-weight: bold;
                                    font-size: large;
                                }
                                
                                .pull-right p:after {
                                    content: close-quote;
                                    font-weight: bold;
                                }
                                
                                h1 {
                                    font-size: 32px;
                                    display: flex;
                                    text-decoration: underline;
                                }
                                
                                .scroll-up {
                                    position: fixed;
                                    bottom: 3%;
                                    right: 0.5%;
                                    cursor: pointer;
                                }
                                
                                .up-arrow {
                                    width: 5rem;
                                    height: 5rem;
                                    margin-right: 5px;
                                }
                                
                                @media screen and (min-width: 769px) {
                                    #cover {
                                        margin-top: -20px;
                                        max-height: 500px;
                                    }
                                    #cover1 {
                                        max-width: 600px;
                                        max-height: 500px;
                                    }
                                }
                                
                                @media screen and (max-width:768px) {
                                    #cover {
                                        margin-top: -20px;
                                        max-height: 400px;
                                        max-width: 100%;
                                    }
                                    h1 {
                                        padding: 10px;
                                    }
                                    .pull-right {
                                        margin-top: 20px;
                                    }
                                }